html {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

body {  
  max-width: 1080px;
  margin: 0 auto;
}

h2 {
  font-family: Georgia, serif;
  line-height: 1.2;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  gap: 30px;
}

article {
  padding: 40px;
}
