@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@400&display=swap");

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2 {
  font-family: Great Vibes, cursive;
  line-height: 1.2;
  font-weight: bold;
}

.style-square{
    list-style: square
}

.style-disc{
    list-style: disc
}

.style-circle{
    list-style: circle
}

