/* Article */
.card {
   /* Added only for working before layout */
   /* max-width: 400px; */
   /* margin: 40px auto;  */
  position: relative;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -2px -1px 12px 1px #000000;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
  transform: scale(1);
  transition: all 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: -5px -2px 16px 2px #000000;
  z-index: 2;
}

/*
 --------------
 Card style - classic
 --------------
 */

/* Card head */
.card .head {
  position: relative;
  height: 40%;
}

.card .head .head__tag {
  position: absolute;
  top: 24px;
  right: 18px;

  padding: 2px 14px;
  border-radius: 4px;
  background-color: #ceaf89;
  letter-spacing: 1.1px;
}

.card .head .head__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-position */
  object-position: center center;
}

/* Content */
.card .content {
  position: relative;
  padding: 18px;
  height: 60%;
}

.card .content .content__title {
  margin-bottom: 12px;
}

.card .content .content__desc {
  color: #5c5d5e;
}

/* In case we have icon */
.card .content.content--icon {
  position: relative;
}

.card .content.content--icon .content__desc,
.card .content.content--icon .content__title {
  width: calc(100% - 32px - 12px);
}

.card .content .content__icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 32px;
  color: #5c5d5e;
  cursor: pointer;
  border: none;
  padding: 0px;
  background-color: transparent;
}

/*
 --------------
  Card - Read more
 --------------
*/

/* content */
.card.card--read-more .content {
  position: relative;
}

/* content btn */
.card.card--read-more .content .content__btn {
  padding: 6px 18px;
  border-radius: 18px;
  border: none;
  color: #f1f1f1;
  background-color: #ceaf89;
  cursor: pointer;

  position: absolute;
  /* making the button out of range */
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  /* https://www.w3schools.com/cssref/css3_pr_opacity.php */
  opacity: 0;

  z-index: 1;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
  /* transition: <property> <duration> <timing-function> <delay>; */
  transition: all 300ms ease-in-out;
}

/*  Making the description fade out with ::after */
.card.card--read-more .content::after {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements */
  content: "";
  width: 100%;
  height: 55%;
  position: absolute;
  bottom: -40px;
  left: 0px;
  background: rgb(241, 241, 241);
  background: linear-gradient(0deg,rgba(241, 241, 241, 1) 41%,rgba(241, 241, 241, 0.660084016516763) 75%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

/* HOVER */

/* btn:hover */
.card.card--read-more .content .content__btn:hover {
  background-color: #71625a;
}

/* .card:hover */
/* .content__btn */
.card.card--read-more:hover .content .content__btn {
  bottom: 18px;
  opacity: 1;
}
/* .card:hover */
/* .content */
.card.card--read-more:hover .content::after {
  opacity: 1;
}


/*
 --------------
 Card - Background image
 --------------
*/

/* Card body */
.card.card--bg-img {
  /* Added only for working before layout */
  /* min-height: 300px; */
  position: relative;
}

/* Making the whole card darker with ::after */
.card.card--bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Card image */
.card.card--bg-img .card__bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* card head tag */
.card.card--bg-img .head .head__tag {
  left: 18px;
  /* clearing right: 18px; */
  right: unset;
}

/* Card button with font awesome dots */
.card.card--bg-img .head .head__action {
  position: absolute;
  top: 24px;
  right: 18px;

  color: #f1f1f1;
  border: none;
  background-color: transparent;
  padding: 2px 4px;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
}

/* content title */
.card.card--bg-img .content .content__title {
  margin-bottom: 2px;
}

/* content */
.card.card--bg-img .head,
.card.card--bg-img .content .content__title,
.card.card--bg-img .content .content__desc {
  position: relative;
  z-index: 1;
  color: #f1f1f1;
}
