@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

#pricing {
  background-color: var(--clr-neutral-gray-900);
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-position: center;
}

#pricing .pricing__row {
  width: 1300px;
  margin: 0 auto;

  display: flex;
  gap: 40px;
  justify-content: space-between;
}

#pricing .plan {
  max-width: 100%;
  background-color: white;
  padding: 24px;
}

#pricing .plan.standard {
  transform: scale(1.06);
  padding: 24px;
}

#pricing .plan .plan__name {
  text-transform: uppercase;
  color: black;
  margin-bottom: 24px;
}

#pricing .plan .plan__sign {
  font-size: 16px;
  color: black;
}

#pricing .plan .plan__price {
  font-size: 56px;
  margin-bottom: 28px;
}

#pricing .plan .plan__monthly {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
}

#pricing .plan .plan__divider {
  opacity: 0.3;
  margin-bottom: 28px;
}

#pricing .plan .features {
  margin-bottom: 48px;
}

#pricing .plan .features .feature__ico {
  color: white;
}

#pricing .plan .features .feature {
  display: flex;

  align-items: baseline;
  gap: 6px;
}

#pricing .plan .features .feature:not(:last-child) {
  margin-bottom: 12px;
}

#pricing .plan .btn {
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 24px;
  color: white;
}
