/* TODO: Add responsive styles here... */
@media screen and (max-width: 600px) {
  .navbar.navbar-expand-lg.navbar-light {
    justify-content: center;
  }

  .navbar-light .navbar-brand {
    margin: 0;
  }

  .hero img {
    display: none;
  }

  .hero h1 {
    margin-top: 70px;
  }

  .container-fluid {
    text-align: center;
  }
  .hero p {
    text-indent: 40px;
  }

  .hero-btns {
    margin-bottom: 130px;
  }

  .hero-btns.service-btn {
    margin-bottom: 70px;
  }

  .hero-btns a:first-child {
    margin: 12px auto;
    display: block;
    width: 60%;
  }

  div.col-lg-4:nth-child(1) > h2:nth-child(1) {
    text-align: center;
    text-indent: 40px;
  }

  .col-sm-6 {
    flex: 1 0 50%;
    max-width: 100%;
  }

  .service-box {
    margin-bottom: 40px;
  }

  .side-img img {
    top: 1150px;
  }

  .side2-img img {
    top: 1750px;
  }

  element {
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .row {
    text-align: center;
  }

  .about > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    margin-bottom: 80px;
  }

  .about {
    margin-bottom: 60px;
  }

  div.row:nth-child(3) > div:nth-child(2) {
    display: none;
  }

  footer .container .row .col-12 {
    margin: 0 auto;
    max-width: 90%;
  }

  footer h6 {
    padding-bottom: 18px;
  }

  .contact-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
